
h1{color:rgb(62, 42, 101);font-size: 50px;
    text-align: center;}
h4{text-align: center;}

.Prueba{text-align: center;}
.seccion1{ display: flex;
    justify-content: center;
}
.circulo{width: 40%;
    height: 40%;
    border-radius: 50%;
    justify-content: center; }

.hola{text-align: center;}

h3{text-align: center;}
.remarcar{text-align: center;}
.ima{display: flex;
justify-content: center;}

.color{text-align: center;
}
h2{color:rgb(87, 35, 133);font: size 20px}


body{background-color: rgb(200, 205, 203);
font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

html{font-size: 16px 
    @media screen and (max-width: 540px){font-size: 12px;}
    
}
p{color:rgb(20, 17, 17);
width: bold;}



